

$color-lgreen: #72B01D;
$color-yelllow: #C6CA53;
$color-dark: #555358;
$color-light: #5F6062;
$color-white: #C9DCB3;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: $color-dark;  


}

.green-text {
  color: $color-lgreen;
}

h1,h2,h3{
  color: $color-lgreen;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



main div{
  padding: 1rem 0;
  margin: 0 2rem ;
  h1{
    text-align: center;
  }
  .submitBTN{
    background-color: $color-lgreen;
    color: black;
  }
}

footer{

  margin-top: 1rem;
  padding: 1rem;
  background-color: $color-white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.reviewForm{
 
  margin: auto;

  .submitBTN{
    margin: 1rem 0;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: F3EFF5;
    background: F3EFF5;
  }
} */

