

$color-lgreen: #72B01D;
$color-yelllow: #C6CA53;
$color-dark: #555358;
$color-light: #5F6062;
$color-cream: #C9DCB3;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: $color-dark;  


}

.green-text {
  color: $color-lgreen;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



main div{
  padding: 1rem 0;

  h1{
    text-align: center;
    color: $color-lgreen;
  }
  .submitBTN{
    background-color: $color-lgreen;
    color: black;
  }
}

footer{

  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: $color-cream;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.reviewForm{
 
  margin: auto;

  .submitBTN{
    margin: 1rem 0;
  }
}

.review{
    background: $color-cream;
    border-radius: 1rem;
    padding: 1rem 0;
    margin: 1rem auto;
    width: 25%;
    h2, .rating, p{
      text-align: center;
    }
    .rating{
      font-size: 1.5rem;
      font-weight: bold;
    }
 
}

.profile-container{
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  div *{
    
    margin: 0 0.5rem;
  }

}

.userImage{
  border-radius: 1rem;
  height: 2rem;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: F3EFF5;
    background: F3EFF5;
  }
} */

