@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

$color-lgreen: #72b01d;
$color-yelllow: #c6ca53;
$color-dark: #555358;
$color-light: #5f6062;
$color-teagreen: #c9dcb3;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: white;
}

.dark-text {
    color: $color-dark;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#navigation {
    background-color: $color-teagreen;
    .container {
        width: 50%;
    }
}

main div {
    text-align: center;

    h1 {
        // text-align: center;
        color: $color-dark;
        margin-bottom: 2rem;
    }
    .submitBTN {
        background-color: $color-lgreen;
        color: black;
    }
}

.reviewForm {
    margin: auto;
    width: 50%;

    span {
        color: red;
        font-weight: 500;
    }

    .submitBTN {
        margin: 1rem 0;
    }
}

.review {
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    padding: 0.75rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 40%;

    #upvote-container {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        margin: auto 0;
    }
    #main-container {
        width: 100%;
    }

    #title,
    #rating,
    p {
        text-align: center;
        color: $color-dark;
    }
    #rating {
        font-weight: bold;
    }

    #comment {
        font-size: 1.5rem;
    }

    section {
        display: flex;
        justify-content: space-evenly;

        div {
            display: flex;
            justify-content: center;
            gap: 0 1rem;
            padding: 0;
        }
    }
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
    div * {
        margin: 0 0.5rem;
    }
}

.userImage {
    border-radius: 1rem;
    height: 2rem;
}

#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    #stats {
        border-style: groove;
        padding: 0.5rem;
    }

    #user-reviews-title {
        span {
            color: $color-lgreen;
        }
    }
}

footer {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: $color-teagreen;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: F3EFF5;
    background: F3EFF5;
  }
} */

@include media-breakpoint-down(sm) {
    .review,
    .reviewForm {
        width: 90%;
    }

    .review {
        flex-direction: column;
        section {
            display: flex;
            flex-direction: column;
        }
    }

    #navigation {
        display: flex;
        .container {
            width: 100%;
        }
        .profile-container {
            width: 100%;
            display: flex;
            justify-self: flex-end;
            padding: 0.5rem;
            div button {
                background-color: $color-light;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .review,
    .reviewForm {
        width: 75%;
    }
}
